body {
    font-family: "Arial";
}

head {
    background: grey;
    margin-top: 15px;
    margin-bottom: 30px;
}

footer {
    background: grey;
    margin-top: 15px;
    margin-bottom: 30px;
}

main {
    background: white;
    margin: 5px;
    padding: 30px;
}

h1 {
    padding: 8px;
}
