
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    float: right; 
    display: block;
    color: white;
    text-align: center;
    padding: .8rem 1rem; 
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
    margin: none; 
    font-family: "Arial";
}

header {
    background: #333;
}

.title {
    color: white;
    float: left;
    padding: 0;
}

main {
    background: white;
    margin: .5rem;
    padding: .5rem;
}

footer {
    background: #333;
    margin-top: 15px;
    padding-top: 2rem;
    color: lightgrey;
    text-align: center;
}

a:link {
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    /*border: none;*/
    /*border-radius: 4px;*/
    cursor: pointer;
    float: right;
    margin: .5rem; 
}

input[type=submit]:hover {
        background-color: #45a049;
}

.container {
    background-color: #f2f2f2;
    padding: 5%;
    
}

.row {
    padding: 1rem;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
