<!doctype html>

<head>
    <title>DisclosUR 2.0</title>
    <!--link rel="stylesheet" href="test.css"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

</head>

<body>
    <header>
        <h1>Financial Disclosure</h1>
        <nav>
            <a></a>
        </nav>
    </header>

    <main>
        <p>A form will go here</p>
    </main>

    <footer>
        <p>Developed by Nick Tallant</p>
    </footer>
</body>
